<!-- begin top -->
<div class="section">
    <div class="slider">
        <div class="slider-list">
            <div class="owl-carousel owl-theme" id="slider-top">
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/06/banner/hotsale-830-300-830x300-1.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/06/banner/euro-samsung-830-300-830x300-3.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/05/banner/euro-oppo-830-300-830x300.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/06/banner/830-300-830x300-6.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/06/banner/830-300-830x300-1.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/05/banner/hotsale-sm-830-300-830x300.png" alt="">
                    </a>
                </div>
                <div class="slider-item">
                    <a href="">
                        <img src="https://cdn.tgdd.vn/2021/05/banner/830-300-830x300-13.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end top -->

<!-- begin mobile -->
<div class="section">
    <div class="section-header">Điện thoại nổi bật nhất</div>
    <div class="owl-carousel owl-theme list-product">
        {{#each listSmartPhone}}
            <div class="product-item">
                <div class="item-img">
                    <img src={{this.image.[0]}}
                        alt="">
                </div>
                <div class="product-infos">
                    <div class="product-title delay-2">{{this.name}}</div>
                    <div class="product-info delay-2">
                        <p class="price-old">{{this.price}}</p>
                        <span class="percent">-6%</span>
                    </div>
                    <p class="price-curent delay-2">{{this.price}}₫</p>
                    <div class="product-rating delay-2">
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <p class="product-rating-total">120</p>
                    </div>
                    <div class="btn-hover delay-2">
                        <a href="/product?category={{this.category.name}}&id={{this._id}}">Xem ngay</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!-- end mobile  -->

<!-- begin pc -->
<div class="section">
    <div class="section-header">Lap top nổi bật nhất</div>
    <div class="owl-carousel owl-theme list-product">
        {{#each listLapTop}}
            <div class="product-item">
                <div class="item-img">
                    <img src={{this.image.[0]}}
                        alt="">
                </div>
                <div class="product-infos">
                    <div class="product-title delay-2">{{this.name}}</div>
                    <div class="product-info delay-2">
                        <p class="price-old">{{this.price}}</p>
                        <span class="percent">-6%</span>
                    </div>
                    <p class="price-curent delay-2">{{this.price}}₫</p>
                    <div class="product-rating delay-2">
                        <div class="rating">
                            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                        </div>
                        <p class="product-rating-total">120</p>
                    </div>
                    <div class="btn-hover delay-2">
                        <a href="/product?category={{this.category}}&id={{this._id}}">Xem ngay</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!-- end pc -->

<!-- begin phu kien -->
<div class="section">
    <div class="section-header">Phụ kiện nổi bật nhất</div>
    <div class="owl-carousel owl-theme list-product">
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/Products/Images/57/229278/sac-du-phong-polymer-10000mah-ava-pj-jp191s-avatar-1-600x600.jpg"
                    alt="">
            </div>
            <div class="product-infos">
                <div class="product-title delay-2">Pin sạc dự phòng Polymer 10.000 mAh AVA PJ JP191S</div>
                <div class="product-info delay-2">
                    <p class="price-old">450.000₫</p>
                    <span class="percent">-44%</span>
                </div>
                <p class="price-curent delay-2">250.000₫</p>
                <div class="product-rating delay-2">
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <p class="product-rating-total">120</p>
                </div>
                <div class="btn-hover delay-2">
                    <a href="#">Xem ngay</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end phu kien -->

<!-- begin watch -->
<div class="section">
    <div class="row content-table ">
        <div class="col-3 content-left">
            <img src="https://cdn.tgdd.vn/2021/06/banner/222440-222x440-5.png" alt="">
        </div>
        <div class="col-9">
            <div class="content-right">
                <ul class="content-tab">
                    <li class="content-item">Đồng hồ thông minh</li>
                    <li class="content-item">Đồng hồ thời trang nam</li>
                    <li class="content-item">Đồng hồ thời trang nữ</li>
                    <li class="content-item">Định vị trẻ em</li>
                </ul>
                <div class="owl-carousel owl-theme list-product-watchs">
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="item-img">
                            <img src="https://cdn.tgdd.vn/Products/Images/7077/239369/venu-sq-music-xanh-duong-239369new-600x600.jpg"
                                alt="">
                        </div>
                        <div class="product-infos">
                            <div class="product-title delay-2">Lenovo Ideapad Gaming 3 15IMH05 i7 10750H
                                (81Y4013UVN)</div>
                            <div class="product-info delay-2">
                                <p class="price-old">28.990.000₫</p>
                                <span class="percent">-10%</span>
                            </div>
                            <p class="price-curent delay-2">25.990.000₫</p>
                            <div class="product-rating delay-2">
                                <div class="rating">
                                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                </div>
                                <p class="product-rating-total">120</p>
                            </div>
                            <div class="btn-hover delay-2">
                                <a href="#">Xem ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end watch -->
</div>
<!-- end watch -->

<!-- begin thuong hieu -->
<div class="section">
    <div class="section-header">Chuyên gia thương hiệu</div>
    <div class="owl-carousel owl-theme list-trademark">
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/2021/06/banner/Laptop-390x210.png" alt="">
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/2021/06/banner/samsung-390-210-390x210-2.png" alt="">
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <img src="https://cdn.tgdd.vn/2021/06/banner/DT-390x210-2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- end thuong hieu -->

<!-- begin product - new -->
<div class="section">
    <div class="section-header">Sản phẩm mới</div>
    <div class="owl-carousel owl-theme product-new">
        <div class="product-item">
            <div class="item-img">
                <a href=""><img src="https://cdn.tgdd.vn/2021/06/banner/SPmoi4-780x420.jpg" alt=""></a>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <a href=""><img src="https://cdn.tgdd.vn/2021/06/banner/Giadu%CC%A3ng-desktop-780x420.jpg" alt=""></a>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <a href=""></a><img src="https://cdn.tgdd.vn/2021/06/banner/Giadu%CC%A3ng-desktop-780x420-2.jpg"
                    alt=""></a>
            </div>
        </div>
        <div class="product-item">
            <div class="item-img">
                <a href=""></a><img src="https://cdn.tgdd.vn/2021/06/banner/Giadu%CC%A3ng-desktop-780x420-3.jpg"
                    alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- end product - new  -->
